.block-events {
  position: relative;
}

.block-event {
  width: 235px;
  float: left;
  padding-right: 20px;
  margin: 20px 0 20px 0;
  &.last {
    padding: 0;
  }

  .text {
    background: $content_blocks_bg;
  }

  .date {
    font-family: $default-font-family;
    font-size: 12px;
    line-height: 120%;
    color: $dark_text;
  }
}

.block-info-more {
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 733px;

  margin: 24px 0 0 6px;

  .bg-block {
    background: image-url($info_shadow_bg) no-repeat 0 0;
    position: absolute;
    width: 10px;
    height: 10px;
    &.bg-block-tl {
      background-position: 0 0;
      top: -10px;
      left: -10px;
    }
    &.bg-block-tr {
      background-position: -10px 0;
      top: -10px;
      right: -10px;
      left: auto;
    }
    &.bg-block-br {
      background-position: -10px -10px;
      top: auto;
      right: -10px;
      bottom: -10px;
      left: auto;
    }
    &.bg-block-bl {
      background-position: 0px -10px;
      top: auto;
      right: auto;
      bottom: -10px;
      left: -10px;
    }
    &.bg-block-top {
      background: image-url($info_shadow_bg_tb) repeat-x 0 0;
      top: -10px;
      left: 0;
      width: 100%;
    }
    &.bg-block-right {
      background: image-url($info_shadow_bg_lr) repeat-y -10px 0;
      top: 0;
      right: -10px;
      left: auto;
      height: 100%;
    }
    &.bg-block-bottom {
      background: image-url($info_shadow_bg_tb) repeat-x 0 -10px;
      top: auto;
      bottom: -10px;
      left: 0;
      width: 100%;
    }
    &.bg-block-left {
      background: image-url($info_shadow_bg_lr) repeat-y 0 0;
      top: 0;
      right: auto;
      left: -10px;
      height: 100%;
    }
  }

  h2 {
    padding-bottom: 10px;

    @include montserratregular;
    font-size: 16px;
    line-height: 120%;
    text-transform: uppercase;
    color: #4c4c4c;

    a {
      color: #4c4c4c;
    }
  }

  p {
    padding-bottom: 17px;

    font-family: $default-font-family;
    font-size: 14px;
    line-height: 18px;
    color: #4c4c4c;
  }

  .btn-close {
    background: image-url($sprite) no-repeat -68px -56px;
    position: absolute;
    top: 4px;
    right: 5px;
    width: 27px;
    height: 28px;
    cursor: pointer;
  }

  .block-content {
    background: $content_blocks_bg;
    position: relative;
    padding: 0;
    z-index: 10;
  }

  .with-image, .with-map {
    .text {
      padding-left: 250px;
    }
  }

  &.block-info-more-cl {
    .with-image, .with-map {
      .text {
        padding-left: 297px;
      }
    }
  }

  .text {
    padding-top: 37px;
  }

  .image, .block-gmap {
    float: left;
    position: relative;
    z-index: 1;
    margin: -6px 0 -6px -6px;

    img {
      display: block;
      width: 235px;
      height: 258px;
    }
  }

  .block-gmap {
    width: 235px;
    height: 235px;
    margin: -5px 0 -6px 0;
    left: -6px;

    img {
      width: 235px;
      height: 235px;
    }
  }

  .block-social {
    border-top: 1px solid #DBDBDB;
    padding-top: 20px;
    padding-bottom: 10px;
    li {
      list-style: none;
      float: left;
      padding-right: 10px;
    }
  }
}

.onplace {
  display: none;
  top: 0;
  left: 0;
}

.event-area {
  cursor: pointer;

  @include montserratregular;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #4c4c4c;

  .text {
    padding: 16px 10px 11px 10px;
    min-height: 54px;
  }

  img {
    display: block;
    width: 235px;
    height: 180px;
  }
}