$default-body-bg: #ffffff;
$default-font-family: arial, sans-serif;
$default-font-size: 12px;
$default-body-color: #000000;
$default-link-event-color: #000000;

/*fonts*/
//$montserratregular: 'Montserrat', Arial, Helvetica, sans-serif;
//$montserratbold: montserratbold, Arial, Helvetica, sans-serif;

/*colors*/
$grey_text: #999999;
$dark_grey_text: #8c8c8c;
$light_grey_text: #bfbfbf;
$dark_text: #666666;
$title_content_color: #00968b;
$green_title: #008e7f;
$tittle_block_text: #4c4c4c;
$text_datepicker: #252525;
$bg_input_color_darken_section: #cdcdcd;

/*backgrounds*/
$sprite: 'sprite.png';
$sprite_btn: 'sprite-btn.png';
$sprite2: 'sprite2.png';
$bg_other_month: 'bg_other_month.png';
$list_arrow: 'list-arrow-marker.png';
$list_circle: 'list-circle-marker.png';
$list_mp_arrow: 'list_mp_arrow.png';
$list_reg_arrow: 'list_reg_arrow.png';
$list_dot: 'list_dot.png';
$block_info_bg: 'block_info_bg.png';
$footer_bg: 'footer_bg.png';
$footer_bg_lng: 'footer_bg_lng.png';
$bg_boy: 'bg_boy.png';
$fancybox_overlay: 'fancybox_overlay.png';
$mask_circle: 'mask_circle.png';
$soit_bg: 'soit_bg.png';

$title_line: 'title_line.gif';
$separator_line: 'separator_line.gif';
$separator_line3: 'separator_line3.png';
$radio_label_bg: 'radio_label_bg.png';

/*background colors*/
$content_blocks_bg: #F4F4F4;

/*shadows*/
$info_shadow_bg: 'info_shadow_bg.png';
$info_shadow_bg_lr: 'info_shadow_bg_lr.png';
$info_shadow_bg_tb: 'info_shadow_bg_tb.png';
$shadow_bg: 'shadow_bg.png';
$shadow_bg_lr: 'shadow_bg_lr.png';
$shadow_bg_tb: 'shadow_bg_tb.png';
$menu_bg_top: 'menu_bg_top.png';
$menu_bg_lr: 'menu_bg_lr.png';
$menu_bg_bottom_lr: 'menu_bg_bottom_lr.png';
$menu_bg_bottom: 'menu_bg_bottom.png';
$popup_shadow: 'popup_shadow.png';
$popup_shadow_lr: 'popup_shadow_lr.png';
$popup_shadow_tb: 'popup_shadow_tb.png';
